@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    color: #303135;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;

}
.content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100%;
 max-width: 1220px;
 margin-right: auto;
 margin-left: auto;
 gap: 64px;
}
.content .logo {
    max-width: 390px;
}
.card {
    padding: 68px 60px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 58px;
}
.card .profile > img {
    height: 260px;
    width: 260px;
    border-left: 12px solid #07a3e9;
border-bottom: 12px solid #07a3e9;
}
.card .profile .contact {
    color: #afb4c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card .profile .contact .social {
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.card .summary > h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.card .summary > h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #afb4c5;
    margin: 0;
}